/* what does the border do */

html, body{
    height: 100vh;
  	width: 100vw;
    overflow: hidden;
    background: #1254ce;
}
  
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    height: 50vh;
    width: 30vw; 
    background: #1592b8; 
    color: rgb(163, 13, 13); 
    border: 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4% 1%;
  }

  .header img{
    height: auto;
    width: 100%;
  }

  .header h1 {
    font-size: 5rem;
    padding: 2% 4%;
    background: #2dd89f;
  }
  

  